---
layout: post
title: "Template Protection based on Homomorphic Encryption"
date:   2021-10-14 17:07:42 +0100
---
# Computationally Efficient Application to Iris-Biometric Verification and Identification
